version: "3.9"

services:
    # frontend
    client:
        image: node:14.3
        ports:
            - "3000:3000"
        volumes:
            - ./planets:/opt/node_app/app
        working_dir: /opt/node_app/app/client
        command: tail -f /dev/null
    # backend
    server:
        image: node:20.12.2
        ports:
            - "8000:8000"
        volumes:
            - ./planets:/opt/node_app/app
        working_dir: /opt/node_app/app/server
        command: tail -f /dev/null
    # db
    mongo:
        image: mongo:7.0.9
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
        volumes:
            - mongo-data:/data/db
    # db ui
    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - "8081:8081"
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: root
            ME_CONFIG_MONGODB_URL: mongodb://root:root@mongo:27017/

volumes:
    mongo-data:
